<!DOCTYPE html>
<html>
<head>
  <title>railsdemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Ｔシャツ取引商品管理画面</a>
      <ul class="nav">
        <li class="active"><a href="/items">商品一覧</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    railsdemo
  </div>
</footer>
</body>
</html>
